<div class="row">
    <div class="col-lg-1">
        <div class="form-control-static">
            Filter:
        </div>
    </div>
    <div class="col-lg-2">
        <select class="form-control" id="select-time-category">
            <option>Week</option>
            <option>Month</option>
            <option>Year</option>
        </select>
    </div>
    <div class="col-lg-6">
        <div class="form-inline">
            <div class="form-group">
                <button class="btn btn-default" id="select-time-prev">&lt;</button></div>
            <div class="form-group">
                <select class="form-control" id="select-time-value">
                </select>
            </div>
            <div class="form-group">
                <button class="btn btn-default" id="select-time-next">&gt;</button>
            </div>
        </div>
    </div>
</div>
<div id="chargeability-metrics">
</div>
<div id="chargeability-resources">
</div>