#############
## OSX
#############
.DS_Store

#############
## WEBSTORM
#############

.idea/

#############
## PROJECT
#############
upload/
node_modules/
npm-debug.log
config.js

#############
## nedb database files
#############
*.db