<div class="row">
    <div class="col-lg-12">
        <div class="btn-group" role="group" aria-label="view-type">
            <a href="#/resource" class="btn btn-default btn-primary view-type" id="view-type-resource">Resource View</a>
            <a href="#/client" class="btn btn-default view-type" id="view-type-client">Client View</a>
        </div>
    </div>
</div>
<div class="row">
    <% var i = 0 %>
    <% _.each(resourceBookings.models, function (booking) { %>
    <div class="col-lg-4">
        <div class="outer-box">
            <% if (booking.get('image')) { %>
                <img class="profile-pic" src="<%=booking.image%>">
            <% } %>
            <span class="outer-box-title"><%= booking.get('resource') %></span>
            <% _.each(_.sortBy(booking.get('projects'), function (p) { return p.name; }), function (project) { %>
                <div class="inner-box" style="background-color: <%=project.color%>;">
                    <%=project.name%> (<%=project.client%>)
                </div>
            <% }); %>
        </div>
    </div>
    <% if (++i % 3 == 0) { %>
        <div class="clearfix visible-lg"></div>
    <% } %>
    <% }); %>
</div>